body {
    background-image: url(APC_0135.jpg);

}

h1{
    
    font-family: 'Asap', cursive;
    color: white;
    font-size: 35px;
    margin-left: 100px;
    
}

h3{
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 30px;
    margin-left: 100px;

}

p{
    font-family: 'Asap';
    color: white;
    font-size: 20px;
    width: 520px;
    background: black;
    margin-left: 100px;
}

#backgrounds{
    background: black;
}